body{
    color:#333;
    text-align: center;
    font-family: "Courier";
    font-size: : 16px;
    padding: 0;

}

#container
{
    width: : 70%;
    padding: 1em;
    text-align:left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#contrainer h1
{
    font-size: : 20px,;
}